@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  /* font-family: 'Ubuntu', sans-serif; */
  /* height: 100vh; */
  /* background-color: #ccc; */
  /* overflow-x: hidden; */
  /* display: flex; */
  /* justify-content: center; */
}
img {
  display: block;
}
ul {
  list-style-type: none;
}
.hover-text:hover {
  color: hsla(0,0%,100%,.7);
  transition-duration: .1s;
}
.space-tb {
  opacity: .9;
  position: absolute;
  top: 10px;
  left: 10px;
}
.app {
  /* position: relative; */
  /* height: 100vh; */
  /* height: 2000px; */
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 50px;
  background-color: #cd1817;
}
.header-left {
  display: flex;
  align-items: center;
}
.header .header-left .logo {
  height: 60px;
  width: 120px;
  /* background-color: #ccc; */
  
}
.logo img{
    width: 100%;
    height: 100%;
  /* height: 40px; */
}
.header-right {
  display: flex;
  align-items: center;
}
.header-right .cart a{
  padding: 10px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
.header-right .cart:hover a{
  color: hsla(0,0%,100%,.7);
  transition-duration: .1s;
}
.header-right .icon-user{
  display: none;
  padding: 10px;
  font-size: 24px;
  color: #fff;
}
.header-right span{
  color: #fff;
  font-size: 18px;
}
.name-user {
  cursor: pointer;
}

/* form */
.account {
  display: flex;
  color: #fff;
  cursor: pointer;
}
.account span{
  padding: 5px;
  cursor: pointer;
}
.account .login {
  margin: 0 20px;
  padding: 5px;
  cursor: pointer;
}
.account .register {
  padding: 5px;
  cursor: pointer;
}
.search-box {
  margin-left: 50px;
  display: flex;
}
.search-box .icon-search {
  background-color: #333;
  height: 35px;
  width: 40px;
  text-align: center;
  line-height: 35px;
  border-radius: 0 3px 3px 0;
  color: #fff;
}
.icon-search:hover{
  color: hsla(0,0%,100%,.7);
}
.search-box input {
  width: 350px;
  height: 35px;
  border: none;
  border-radius: 3px 0 0 3px;
  padding: 8px;
  outline: none;
}
@keyframes appear{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.board {
  font-family: 'Ubuntu', sans-serif;
  position: fixed;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear .1s ease-out forwards;
  background-color: rgba(0,0,0,0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.board-register.active,
.board-login.active {
  display: none;
}
.board .left-board {
  padding: 45px 50px;
  height: 550px;
  background-color: rgb(255, 255, 240);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}
.title{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.left-board .form-input {
  display: flex;
  flex-direction: column;
  padding: 10px 0 30px;
  width: 300px;
  font-size: 16px;
  position: relative;
}
.form-input input{
  height: 20px;
  font-size: 14px;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #000;
  outline: none;
  z-index: 1;
  background-color: transparent;
}
.bot-board {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bot-board input {
  padding: 10px 45px;
  border-radius: 50px;
  border: none;
  color: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0,.5);
  background-color: #f4354d;
}
.bot-board input:active {
  transform: scale(0.98);
  box-shadow: none;
  transition: .1s;
}
.bot-board span {
  font-size: 14px;
  padding: 32px;
}
.form-input label span{
  display: inline-block;
  transition: .3s cubic-bezier(0.68, -0.55, 0.256, 1.55);
}
.form-input input:focus{
  border-bottom: 2px solid rgba(0,0,0,.3);
}
.form-input input:focus + label span,
.form-input input:valid + label span{
  opacity: .4;
  z-index: 2;
  transform: translateY(-24px);
}
.form-input > span {
  position: absolute;
  bottom: 14px;
  color: #f02849;
  font-size: 12px;
}
.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  background-color: #f4354d;
  font-size: 20px;
  border-top-right-radius: 5px;
}
.btn-close:hover {
  color: #fff;
  background-color: rgb(51, 39, 39);
  transition-duration: .1s;
}

/* menu */
nav {
  background-color: #252525;
}
.menu {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  list-style: none;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.menu > li {
  /* margin-right: 30px; */
  padding: 0 15px;
  position: relative;
  height: inherit;
}
.menu li a{
  text-decoration: none;
}
.menu > li > a{
  text-decoration: none;
  color: #fff;
  line-height: 40px;
}
.menu > li > a:hover{
  color: hsla(0,0%,100%,.7);
  transition-duration: .1s;
}
.menu li a i {
  padding-right: 5px;
}
.menu > li:hover .sub-menu{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.sub-menu {
  display: flex;
  position: absolute;
  width: 1200px;
  background-color: #fff;
  padding: 20px 16px;
  left: -386px;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(10px);
  transition: visibility .2s, opacity .2s linear, transform .2s;
  visibility: hidden;
  box-shadow: 0 2px 12px rgb(0 0 0 / 40%);
  z-index: 2;
}

.sub-menu li {
  list-style: none;
}

.box-list {
  max-width: 560px;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
}
.box-list > li{
  margin-right: 20px;
  font-size: 13px;
  min-width: 120px;
  float: left;
}
.box-list li ul >li:first-child {
  font-size: 16px;
  padding: 10px 0 15px;
  font-weight: 400;
}
.box-list li li {
  padding: 8px 0;
}
.box-list li li a {
  padding: 8px 0;
  color: #000; 
}
.box-list li li:hover a{
  color: #0077ff;
}
.best-selling {
  border-left: 1px solid #000;
  margin-left: 10px;
  padding: 0 10px;
}
.best-selling .box-bs {
  display: flex;
  padding: 16px 0;
}
.best-selling .image img {
  width: 80px;
  margin-right: 16px;
}




/* container */
.container {
  /* background-color: #ccc; */
  /* height: 100px; */
  max-width: 1200px;
  margin: auto;
  /* height: 1000px; */
}


.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
  padding: 20px 0 0;
  z-index: 1;
}
.mySlides {
  display: none;
}
.mySlides img {
  width: 100%;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
  left: 5px;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 5px;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.lable {
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

.products {
  font-family: Roboto,Helvetica,Arial,sans-serif;
}
.lable {
  padding: 20px 30px 0;
}
.list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -2px;
  margin-right: -2px;
}
.product-item {
  flex-basis: 24%;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #f1f1f1;
  /* height: 480px; */
  margin-top: 20px;
  position: relative;
  transition: all .2s ease-in;
  margin-left: 6px;
  margin-right: 6px;
}
.product-item:hover {
  box-shadow: 0 2px 12px rgb(0 0 0 / 40%);
}
.product-item:hover .product-thumb {
  transform: translateY(-15px);
}
.product-top .product-thumb {
  margin: 20px 0;
  width: 100%;
  transition: .2s ease-in;
}
.buy-now, .product-name {
  padding-bottom: 5px;
  display: block;
  text-decoration: none; 
  color: #000;
  
}
.buy-now {
  padding: 10px;
  background-color: #cb1c22;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0 10px;
}
.buy-now:hover {
  background-color: #ae1427;
}
.product-info .product-price {
  color: #111;
  font-weight: 600;
  font-size: 18px;
  color: #d0021c;
}
.page {
  text-align: center;
  margin: 32px 0;
}
.page ul {
  display: flex;
  justify-content: center;
}
.page ul li {
  padding: 10px 15px;
  background-color: #cb1c22;
  margin: 5px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.page ul li:hover {
  background-color: #ae1427;
}

.footer {
  background-color: #ccc;  
}

.footer__heading{
  font-size: 16px;
  text-transform: uppercase;
  color: #666;
}

.footer__list {
  padding-left: 0;
  list-style: none;
}

.footer-item__link {
  text-decoration: none;
  font-size: 14px;
  color: #666;
  padding: 2px 0;
  display: flex;
  align-items: center;
}

.footer-item__icon {
  font-size: 1.6rem;
  margin: -1px 8px 0 0;
}

.row {
  display: flex;
  width: 1200px;
  margin: auto;
  padding: 40px 0;
  justify-content: center;
}
.col {
  padding: 10px;
}
.col li {
  padding: 5px 0;
}
